* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: aliceblue;
  
}




.tablazat{

  margin-top: 20px;
  margin-bottom: 10px;
  
 
}



@media only screen and (max-width: 600px) {
  
  .tablazat{
  
  
  
    display: flex;
    flex-direction: column;
  }
  
}


